/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
li {
  display: inline;
}

/* UTILITIES */
.star {
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}
.star > .icon {
  margin: 0 16px;
}
.line {
  display: inline-block;
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.bold {
  font-weight: bold;
}
.upper {
  text-transform: uppercase;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.white-text {
  color: #fff;
}
.dark-grey-text{
    color: #2c3e50;
}
.dark-grey-bg{
    background-color: #2c3e50;
}


/* SECTIONS */

/* NAVBAR */
.nav {
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  background-color: #2c3e50;
}
.nav-logo {
  font-size: 20px;
}
.nav-item {
  margin-right: 10px;
}

/* HERO */
.hero {
  background-color: #1abc9c;
  height: 84vh;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.hero > img {
  width: 240px;
  height: 254.54px;
  margin-bottom: 35px;
}
.hero > .title {
  font-size: 44px;
  margin-bottom: 35px;
}
.hero > .list {
  font-size: 20px;
}

/* PORTFOLIO */
.portfolio {
  justify-content: center;
  min-height: 900px;
}
.portfolio > .header {
  height:20%;
  justify-content: flex-end;
  align-items: center;
  gap:2em;
}
.portfolio h1{
    font-size: 48px;
}
.portfolio > .content {
  flex-wrap: wrap;
  justify-content: center;
  gap: 3em;
  align-content: space-between;
  margin: 0 5%;
}
.portfolio .content > .img {
  min-width: 28%;
  height: 280px;
  border-radius: 10px;
}
